@font-face {
  font-family: "Minecraft";
  src: url("../fonts/Minecraft.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body.homev2 {
  background: no-repeat url("../assets/background.png");
  height: 750px;
  width: 1366px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title h1 {
  font-family: "Minecraft";
  font-size: 40px;
  text-transform: uppercase;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 100px;
  width: 1024px;
  height: 200px;
  font-family: "Minecraft";
  font-size: 30px;
  text-transform: uppercase;

  &__players {
    margin: 0px 30px;
  }

  &__ingames {
    text-align: center;
    width: 450px;
    font-family: "Minecraft";
    font-size: 40px;
    text-transform: uppercase;
    animation: blinker 1.5s linear infinite;
  }
}

figure {
  text-align: center;
  font-family: "Minecraft";
  font-size: 20px;
}

.control {
  &__image {
    width: 100px;
    height: 100px;
  }
}
